
nav {
    margin-bottom: 2rem;
}
.navItems {
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}
.navItems div {
    display: flex;
    height: 70%;
    align-items: baseline;
}

@media only screen and (min-width: 768px)  {
    nav .container-fluid {
        width: 70%
    }
  }