.user-profile .card {
  border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.user-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

/* .show-details-btn{
  width: 150px;
  font-size: 0.7 rem;
  padding: 0 
  margin: 0;
}  */

.card-body {
  max-height: 500px; /* Set a maximum height to the card body */
  
}

.info-card-ctn .info-card {
  height: 100%;
}

.profile-ctn .events-ctn {
  display: flex;
  width: 100%;
  gap: 1rem 
}
