@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700;800;900&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  min-height: 100vh;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  place-items: center;
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
  
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.restaurant-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
}
.restaurant-search-form div {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.left-ctn {
  padding: 1rem 0;
}
.restaurant-card {
  height: 15rem;
  margin-top: 2rem;
}
.card-body p {
  margin: 0;
}
.card-btns {
  margin-top: 1rem;
}
.card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.add-to-list, .added-to-list, .removeFromList {
  position: absolute;
  right: .5rem;
  top: .5rem;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.add-to-list {
  color: #1a1a1a;
}
.removeFromList {
  font-size: 1.5rem;
  font-weight: 400;
  color: #1a1a1a;
}
.add-to-list:hover, .added-to-list:hover, .removeFromList:hover {
  border: none;
}
.add-to-list:before, .added-to-list:before {
  content: '\FF0B';
  transform: translate(0, -2px);
}
.removeFromList:before {
  content: "x";
  transform: translate(0, -4px);
}
.added-to-list {
  background-color: #eeb704;
  color: white;
}
.hide {
  display: none;
  position: absolute;
  right: 3.5rem;
  top: .7rem;
  background-color: white;
  padding: .4rem;
  border-radius: 5px;
  font-size: .9rem;
}
.add-to-list:hover + .hide-add {
  display: block;
}
.removeFromList:hover + .hide-remove {
  display: block;
}
.result-links {
  display: flex;
  justify-content: space-between;
}
.restaurant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img {
  width: 80vw;
  height: 15rem;
  object-fit: cover;
  padding: 1rem 0;
}
.small-img {
  width: 30vw;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.detail-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.list-btn, .event-btn {
  width: 45%;
}
.details-btn {
  width: 100%;
  flex-grow: 1;
}
.card-btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.friends-list-item {
  text-decoration: none;
  color: #1a1a1a;
}
.friends-list-item {
  display: flex;
}
.friends-list-item:hover {
  color: #eeb704;
}
.friends-list-img {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  margin: 0 1rem 0 0;
}
.navbar-collapse {
  flex-basis: auto;
}
.search-results {
  position: absolute;
  top: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px)  {
  div .form-ctn {
      width: 30%;
      height:65vh;
  }
  .randomGen {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    gap: 2rem;
    border: 1px solid rgb(197, 197, 197);
  }
  .restaurant-card {
    margin-top: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card-img {
    height: 10rem;
  }
  .left-ctn {
    flex: 1
  }
  .right-ctn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .restaurant-search-form {
    margin: 0 auto;
    max-width: 60vw;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-btns button {
    font-size: .9rem;
  }
  .restaurant-search-form div {
    width: 100%;
  }
  .result-links {
    margin-bottom: 1rem;
  }
  .search {
    display: flex;
    flex-direction: column;
  }
  .search form {
    width: 15rem;
  }
  /* .search-results {
    position: absolute;
    top: 100%;
    width: 15rem;
    display: flex;
    flex-direction: column;
  } */
  .search-results button {
    height: 3rem;
    width: 15rem;
    background-color: white;
    padding: 1rem;
    text-decoration: none;
    color: #1a1a1a;
  }
  .search-results button:hover {
    border: none;
  }
  .restSearch-ctn {
    min-height: 65vh;
  }
}

@media only screen and (min-width: 900px)  {
  .homeCtn {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .randomGen {
    width: 50vw;
    display: flex;
  }
  .restaurant-search-form {
    margin: 0 auto;
    max-width: 30vw;
  }
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.5rem;
  } 
  .event-res-btns {
    display: flex;
    gap: 1rem;
  }
  .event-res-btns button {
    font-size: 1rem;
    padding: 0 3rem;
  }
  .event-card {
    width: 50%;
    margin: 0 auto;
  }
  .event-card-img {
    height: 20rem;
  }
}
* {
  box-sizing: border-box;
}
.restaurant-details {
  display: flex;
  flex-wrap: wrap;
}
.photo-grid {
  display: flex;
  flex-wrap: wrap;
}
.main-photo, .grid-photo {
  flex-basis: calc(33.33% - 8px);
  margin-right: 8px;
  margin-bottom: 8px;
}
.main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-photo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 300px) {
  .main-photo, .grid-photo {
    flex-basis: calc(100% - 8px);
    margin-right: 0;
    width: 100%;
    height: auto;
  }
}
.rating {
  display: block;
  margin-top: 20px;
}
.categories {
  margin-top: 10px;
}
.address {
  margin-top: 10px;
}
.phone {
  margin-top: 10px;
}
.open-now {
  margin-top: 10px;
}
.map-picture{
  display: flex;
  justify-content: space-between;
}
.map-picture img {
  object-fit: cover;
}
